/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* general styles */
body{
    font-family: 'Poppins', sans-serif;
}


/* button styles */
.button-hover:hover{
    background-color: black !important;
    color: white;
}

/* table data bolded */
table td{
    font-weight: 800;
}